applyInfo_0_deliveryRateName:"美团配送（专/快/递）"
applyInfo_0_deliveryRateFee_0_feeName:"分成"
applyInfo_0_deliveryRateFee_0_fee:"1"
applyInfo_0_deliveryRateFee_1_feeName:"保底"
applyInfo_0_deliveryRateFee_1_fee:"2"
applyInfo_0_deliveryRateFee_2_feeName:"平台使用费"
applyInfo_0_deliveryRateFee_2_fee:"3"
applyInfo_0_startTime:"1599696000"
applyInfo_0_endTime:"1602720000"
applyInfo_1_deliveryRateName:"自配"
applyInfo_1_deliveryRateFee_0_feeName:"分成"
applyInfo_1_deliveryRateFee_0_fee:"4"
applyInfo_1_deliveryRateFee_1_feeName:"保底"
applyInfo_1_deliveryRateFee_1_fee:"5"
applyInfo_1_deliveryRateFee_2_feeName:"平台使用费"
applyInfo_1_deliveryRateFee_2_fee:"6"
applyInfo_1_startTime:"1600473600"
applyInfo_1_endTime:"1601942400"
applyInfo_2_deliveryRateName:"企客"
additionalInfo_otherPlatformOperations:"a"
additionalInfo_averageDailyFlow:"123"
additionalInfo_averageDailyOrderNumber:"456"
additionalInfo_averageCustomerPrice:"789"
additionalInfo_expectedPlatformOperations:"b"
reason:"申请理由。。"
